docs/n8n-workflow-linkedin.json
{
  "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
  "name": "EasyTech - Publicacion LinkedIn Automatica",
  "active": false,
  "nodes": [
    {
      "id": "e8f1a2b3-c4d5-6789-ab01-111111111101",
      "name": "Mar y Jue 8am Panama",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,4"
            }
          ]
        }
      }
    },
    {
      "id": "e8f1a2b3-c4d5-6789-ab01-111111111102",
      "name": "Publicar post pendiente",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [240, 0],
      "parameters": {
        "command": "/opt/easytech_marketing/venv/bin/python3 /opt/easytech_marketing/Motor_Tecnico/linkedin_publisher.py"
      }
    },
    {
      "id": "e8f1a2b3-c4d5-6789-ab01-111111111103",
      "name": "Se publico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 0],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": "Publicado"
            }
          ]
        }
      }
    },
    {
      "id": "e8f1a2b3-c4d5-6789-ab01-111111111104",
      "name": "Log exito",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, -80],
      "parameters": {
        "command": "echo 'LinkedIn post publicado OK'"
      }
    }
  ],
  "connections": {
    "Mar y Jue 8am Panama": {
      "main": [[{ "node": "Publicar post pendiente", "type": "main", "index": 0 }]]
    },
    "Publicar post pendiente": {
      "main": [[{ "node": "Se publico?", "type": "main", "index": 0 }]]
    },
    "Se publico?": {
      "main": [
        [{ "node": "Log exito", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
